table.center {
    margin-left:auto; 
    margin-right:auto;
    border: 1px solid black;
    border-collapse: collapse;
    width: 85%;
}

table.center th{
    border: 1px solid black;
    border-style: collapse;
    text-align: center;
    padding: 5px 10px 5px 10px;
}

.table-cap{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

#tb_body td{
    border: 1px solid black;
    padding: 5px;
}

.center-text{
    text-align: center;
}

.right-text{

    text-align: right;
    padding-right: 10px;
}

.cur {
    width: 30px;
    text-align: center;
}